 {% extends "base.html" %}
 {% block content %}
<span class="placeholder col-12 bg-primary"></span> <br> <br>
<h3 class="mid" >ჩვენს შესახებ</h3>
<br>
 <div class="container">
     <h4> ჩვენი საიტი დაეხმარება ადამიანებს მარტივად და სწრაფად მიიღონ ამომწურავი, დადასტურებული ინფორმაცია საქართველოში მიმდინარე პროცესებზე, ღირსშესანიშნაოებებზე და ტურისტულ შესაძლებლობებზე. საიტი ხელმისაწვდომი იქნება მსოფლიოს გარშემო ნებისმიერი პირისთვის, რომელიც დაინტერესდება საქართველოს შესახებ ინფორმაციით. აღსანიშნავია ის ფაქტიც, რომ მომხმარებელი მიიღებს ჯანსაღ ინფორმაციას.</h4>
 </div>
<div class="text-center">
<div class="rn"> <img src="/static/project.jpg" class="img-thumbnail" alt="/static/project.jpg"> </div>
</div>

 {% endblock %}