 {% extends "base.html" %}
 {% block content %}
<span class="placeholder col-12 bg-primary"></span>
<div class="text-center">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Old_Tbilisi_Panorama_09.23_%282%29.jpg/1199px-Old_Tbilisi_Panorama_09.23_%282%29.jpg?20231112135419" class="rounded" alt="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Old_Tbilisi_Panorama_09.23_%282%29.jpg/1199px-Old_Tbilisi_Panorama_09.23_%282%29.jpg?20231112135419">
</div>

  <div class="row">
        <div class="col">
            <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item"> </div>

</div>
        </div>
    </div>
<br>


  <br> <br>
  <h3 class="red" > ჩვენი საქართველო,ჩვენი სიმართლე! </h3>

{% endblock %}

