 {% extends "base.html" %}
 {% block content %}

 <a href="/მარშუტები" class="btn-close" aria-label="Close"></a>
 <br> <br>

{% for bak in baks %}
 {% if current_user.role == "Admin" %}
 <a href="/edit_bak/{{bak.id}}" class="btn btn-outline-success">Edit</a>
 {% endif %}
 <br> <br>
 <div class="card">
  <div class="card-header">
   {{bak['name']}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{bak['text']}}</p>

    </blockquote>
  </div>
</div>


 {% endfor %}



 {% endblock %}
