{% extends "base.html" %}
{% block content %}
<span class="placeholder col-12 bg-primary"></span>
<br>
<br>
<div class="card text-bg-dark">
    <img src="/static/საქართველო.jpg" class="card-img" alt="/static/საქართველო.jpg">
    <div class="card-img-overlay">
        <h3 class="card-title">ეს საქართველოა</h3>
        <p class="card-text">საქართველო დაუვიწყარი მოგონებების ქვეყანაა. დაჯილდოვებული მომხიბვლელი ბუნებით, მზიანი
            სანაპიროებით, გამოქვაბულებით, უხვი ველური ბუნებით, კანიონებით და კულტურით.

        </p>
    </div>
</div>
<br>
<br>
<img src="/static/shesaxeb.png" class="rounded float-end" alt="/static/shesaxeb.png">

<h1 class="text-start">საქართველოს შესახებ</h1>
<br>

<h6 class="text-start">საქართველო დაუვიწყარი მოგონებების ქვეყანაა. დაჯილდოვებული მომხიბვლელი <br> ბუნებით, მზიანი
    სანაპიროებით, გამოქვაბულებით, უხვი ველური ბუნებით, კანიონებით <br>და კულტურით. ამ პატარა ქვეყანას ყველაფერი აქვს. ის
    აკმაყოფილებს ყველას ინტერესს,<br> გემოვნებას, ბიუჯეტს და ასაკს. ყველაფრის მნახველ მოგზაურსაც კი გაუჭირდება ქვეყნის
    <br>სილამაზის უარყოფა. იმის გამო, რომ საქართველო განსხვავდება ყველა სხვა ქვეყნისგან,<br> ის გაძლევს უნიკალურ
    გამოცდილებას, რომლის მიღება სხვაგან თითქმის შეუძლებელია.<br> საქართველო თავგადასავლებლის მაძიებლებს აღაფრთოვანებს.
    უამრავი მიზეზი არსებობს <br> რატომაც კავკასიის ამ პატარა ქვეყანის ნახვა ღირს.</h6>
<br> <br>


<div class="card mb-3" style="max-width: 800px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/static/სამზარეულო.jpg" class="img-fluid rounded-start" alt="/static/სამზარეულო.jpg">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">ქართული სამზარეულო</h5>

                <p class="card-text">ტრადიციული ქართული კერძებისა და სასმელების ერთობლიობა, რომლებიც ჩამოყალიბდა
                    საუკუნეების განმავლობაში. მრავალფეროვანი და მდიდარი განსხვავებაა რეგიონულ სამზარეულოებს შორის.
                    აღმოსავლეთ საქართველოში ხორცის, ღვინის, პურეულისა და ცხოველური ცხიმების სიჭარბე შეინიშნება, დასავლეთ
                    საქართველოს სამზარეულო კი ნიგვზითა და წიწაკით შეზავებული საწებლების, მხალეულის და რძის პროდუქტების
                    კერძებით გამოირჩევა. საქართველო ღვინის სამშობლოა, აქ ვაზი თითქმის ყველგან ხარობს, ქართულ ღვინოს
                    ქვევრში აყენებენ.</p>

            </div>
        </div>
    </div>
</div>

<h1 class="text-end">ქართული დამწერლობა</h1>
<br>

<img src="https://server5.intermedia.ge/article_images/small/201905/2019051119515186398.png" class="rounded float-end"
     alt="https://server5.intermedia.ge/article_images/small/201905/2019051119515186398.png">
<br>
<p>ქართული დამწერლობა ერთ-ერთი უძველესია და ის მსოფლიოს 14 დამწერლობას <br> შორისაა. 2016 წლის 30 ნოემბერს ქართული
    ანბანი იუნესკომ კაცობრიობის <br> არამატერიალური კულტურული მემკვიდრეობის წარმომადგენლობით ნუსხაში <br> შეიტანა.
    ქართული დამწერლობის შემოღების შესახებ ზუსტი დამათარიღებელი წყარო <br>არ არსებობს. XI საუკუნის ქართველი ისტორიკოსი
    ლეონტი ფარნავაზ I-ს მიაწერს<br> არსებობს სამი სახის ქართული დამწერლობა: მთავრული, ნუსხური და მხედრული.<br> მათგან
    უძველესი მთავრულია. თითოეულ მათგანს სახასიათო გრაფიკული სტილი აქვს, თუმცა ასოთა მოხაზულობის ცვალებადობის
    თვალსაზრისით ნუსხური ასომთავრულის განვითარების შედეგია, მხედრული კი - ნუსხურისა.</p>
<br>
<img src="/static/gerbi1.jpg" class="rounded float-end" alt="/static/gerbi1.jpg">
<br>
<div class="card mb-3" style="max-width: 800px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Jvari_%E1%83%9B%E1%83%AA%E1%83%AE%E1%83%94%E1%83%97%E1%83%90_Mtskheta.jpg/300px-Jvari_%E1%83%9B%E1%83%AA%E1%83%AE%E1%83%94%E1%83%97%E1%83%90_Mtskheta.jpg" class="img-fluid rounded-start" alt="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Jvari_%E1%83%9B%E1%83%AA%E1%83%AE%E1%83%94%E1%83%97%E1%83%90_Mtskheta.jpg/300px-Jvari_%E1%83%9B%E1%83%AA%E1%83%AE%E1%83%94%E1%83%97%E1%83%90_Mtskheta.jpg">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">საქართველოს ისტორია</h5>

                <p class="card-text">საქართველოს ტერიტორიაზე უძველესი დროიდან ადამიანთა ცხოვრების ფაქტს ადასტურებს
                    დმანისში ჩატარებული
                    არქეოლოგიური გათხრები. დმანისში აღმოჩენილი ადამიანის ჩონჩხის ფრაგმენტები უძველესია მთელს ევრაზიაში,
                    რომლის ასაკი 1
                    800 000 წელია. ქართველების პირველი პოლიტიკური გაერთიანება დიაოხი და კოლხა მდინარე ჭოროხის აუზში ძვ.
                    წ. II
                    ათასაწლეულის ბოლოს შეიქმნა, მათ მხოლოდ რამდენიმე საუკუნე იარსებეს. ისინი დაამხეს ჩრდილოეთიდან
                    შემოჭრილმა მომთაბარე
                    ტომებმა. ძვ. წ. VI საუკუნეში ჩამოყალიბდა ეგრისის ანუ კოლხეთის სამეფო. </p>

            </div>
        </div>
    </div>
</div>
<br>
<img src="/static/დროშა.png" class="rounded mx-auto d-block" alt="/static/დროშა.png">

{% endblock %}