 {% extends "base.html" %}
 {% block content %}
<img src="https://komarovi.edu.ge/img/panorama32.jpg" class="img-fluid" alt="https://komarovi.edu.ge/img/panorama32.jpg">
 <div class="position-relative">
    <div class="position-absolute bottom-50 top-50 start-50 translate-middle">

     <h1> <br> საკონტაქტო ინფორმაცია</h1> <br>
<h2> დამატებითი ინფორმაციისთვის <br> შეგიძლიათ <br> დაგვიკავშირდეთ ნომერზე: +995 555 44 55 555 </h2>
<br>
<h2> სატრანსპორტო კომპანიის დირექტორი: <br> +995 556 55 44 333 </h2>
<p>
<h2> სანტრასპორტო კომპანიის მენეჯერი: <br> +995 556 55 44 311 </h2>
</p>

 </div>
 </div>
{% endblock %}